@model frontEndFyp.Models.Reservation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>Reservation</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Reservation_Id)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Reservation_Id)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Time_In)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Time_In)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Time_Out)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Time_Out)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Total_Persons)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Total_Persons)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Total_Price)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Total_Price)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Decoration.Decoration_Type)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Decoration.Decoration_Type)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.SoundSystem.Sound_Type)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SoundSystem.Sound_Type)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Food.Food_Item)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Food.Food_Item)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Restaurant.Restaurant_Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Restaurant.Restaurant_Name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.User.User_F_Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.User.User_F_Name)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.User.User_L_Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.User.User_L_Name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Event.Event_Type)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Event.Event_Type)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Date)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Date)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

</body>
</html>

