@model frontEndFyp.Models.Reservation

@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/frontend.cshtml";
}<link href="~/Content/newdesign/css/agency.min.css" rel="stylesheet">
<style>
    ul {
        list-style-type: none;
        margin-left: 30px 30px 0px 0px;
        padding: 30px 30px 0x 0px;
        overflow: hidden;
        background-color: #664879;
        width: auto;
    }

    .cont #cont {
        margin-left: 30px 30px 0px 0px;
        padding: 30px 30px 0x 0px;
    }

    #bs-example-navbar-collapse-1 {
        margin-left: 30px 30px 0px 0px;
        padding: 30px 30px 0x 0px;
    }

    li {
        float: left;
    }

    .nav navbar-nav navbar-right li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav navbar-nav navbar li a:hover:not(.active) {
        background-color: #fed136;
    }

    .active {
        background-color: #4CAF50;
    }

    body {
        background-color: #f5f2f2;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <title>Eventi</title>
    <!-----Including CSS for different screen sizes----->
    <link rel="stylesheet" type="text/css" href="~/Content/forms/responsiveform.css">
    <link rel="stylesheet" media="screen and (max-width: 1200px) and (min-width: 601px)" href="~/Content/forms/responsiveform1.css" />
    <link rel="stylesheet" media="screen and (max-width: 600px) and (min-width: 351px)" href="~/Content/forms/responsiveform2.css" />

    <link rel="stylesheet" media="screen and (max-width: 350px)" href="~/Content/forms/responsiveform3.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#restaurant").bind("change", function () {
                var stateId = $("#restaurant").val();
                $.ajax({
                    type: "POST",
                    url: "/Reservation/GetFood",
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        stateID: stateId
                    }),
                    success: function (result) {
                        $("#foody").html("");
                        $.each($.parseJSON(result), function (i, city) {
                            $("#foody").append($('<option></option>').val(city.Food_Id).html(city.Food_Item))
                        })

                    },
                    error: function () { alert("error" + result) }
                });
            });
        }
        );

    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#restaurant").bind("change", function () {
                var stateId = $("#restaurant").val();
                $.ajax({
                    type: "POST",
                    url: "/Reservation/GetSound",
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        stateID: stateId
                    }),
                    success: function (result) {
                        $("#soun").html("");
                        $.each($.parseJSON(result), function (i, city) {
                            $("#soun").append($('<option></option>').val(city.Sound_Id).html(city.Sound_Type))
                        })
                    },
                    error: function () { alert("error" + result) }
                });
            });
        }
        );
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#restaurant").bind("change", function () {
                var stateId = $("#restaurant").val();
                $.ajax({
                    type: "POST",
                    url: "/Reservation/GetEvent",
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        stateID: stateId
                    }),
                    success: function (result) {
                        $("#event").html("");
                        $.each($.parseJSON(result), function (i, city) {
                            $("#event").append($("<option></option>").val(city.Event_Id).html(city.Event_Type))
                        })
                    },
                    error: function () { alert("error" + result) }
                });
            });
        }
        );
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#restaurant").bind("change", function () {
                var stateId = $("#restaurant").val();
                $.ajax({
                    type: "POST",
                    url: "/Reservation/GetDecoration",
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        stateID: stateId
                    }),
                    success: function (result) {
                        $("#decor").html("");
                        $.each($.parseJSON(result), function (i, city) {
                            $("#decor").append($('<option></option>').val(city.Decoration_Id).html(city.Decoration_Type))
                        })
                    },
                    error: function () { alert("error" + result) }
                });
            });
        }
        );
    </script>

</head>
<body>
    <nav id="mainNav" style="background-color: #664879" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->


            <div class="navbar-header page-scroll">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>

                <a class="navbar-brand page-scroll" style="color: yellow; font-size: 50px;padding-left:10px" href="#page-top">Eventi</a></br>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" class="cont">
                <ul class="nav navbar-nav navbar" style="margin-top:5px; margin-left:70px">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="home" class="page-scroll">Home</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#portfolio">Categories</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="faq">FAQ</a>
                    </li>
                    <li>
                        <a href="../frontpages/privacypolicy">Privacy Policy</a>
                    </li>
                </ul>
                <div style="display: flex;float:right;margin-right:85px;">
                    <div style="padding-right:5px">
                        <a href="../semiadmin/create" style="height:40px;width:100px;">Sign In</a>
                    </div>
                    <div style=" margin-right:5px">
                        <a href="../semiadmin/create" style="height: 40px; width: 100px;">Sign Up</a>
                    </div>

                </div>
                <!--     <div style="float:right;margin-right:-40px">
                          <input type="text" name="search" placeholder="  Search Hall/Restaurant.." style="height:2em; width:15em; margin-top:1px;" id="hwq" />
                          <span> <button style="background-color: blue; color: white; margin-top: 1px; height:30px"><a href="" id="go">Search</a></button></span>
                      </div>
                    -->

            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    </nav>

    <div id="envelope" style="background-color: #ffffff; margin-top:100px;  ">
        <header style="background-color: #5b9aa0; background-image: none">
            <h2>Edit Reservation </h2>

        </header>
        <hr>
        <form action="#" method="post">
            <div class="form-group">
                <label>Selected type of Event</label>
                <input type="persons" class="form-control" name="totalprice" value="@Html.DisplayFor(model => model.Restaurant.Restaurant_Name)" disabled=" ">
            </div>
            <div class="form-group">
                <label>Select Type of event</label>
                <select class="form-control" name="restaurantid" id="restaurant" onchange="Getdecoration();">
                    @foreach (var item in ViewBag.Restaurant_Id)
                    {
                        <option value="@item.Restaurant_Id">@item.Restaurant_Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Selected type of Event</label>
                <input type="persons" class="form-control" name="totalprice" value="@Html.DisplayFor(model => model.Event.Event_Type)" disabled=" ">
            </div>
            <div class="form-group">
                <label>Select Type of event</label>
                <select class="form-control" name="EventId" id="event">
                    <option value="" disabled selected>Select EventType</option>
                    @foreach (var item in ViewBag.Event_Id)
                    {

                        <option value="@item.Event_Id">@item.Event_Type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Selected Time in </label>
                <input type="persons" class="form-control" name="totalprice" value="@Html.DisplayFor(model => model.Time_In)" disabled=" ">
            </div>
            <div id="sample1" class="form-group">

                <label>Time_In:</label><br />
                <input id="sample" name="timein" value="" size="20" class="form-control" placeholder="h:m am/pm" onclick="myfuntion()" />
                <div class="form-group">
                    <label>Selected time out</label>
                    <input type="persons" class="form-control" name="totalprice" value="@Html.DisplayFor(model => model.Time_Out)" disabled=" ">
                </div>


                <label>Time_Out:</label><br />
                <input name="timeout" value="" size="20" class="form-control" placeholder=" h:m am/pm" />

            </div>
            <div class="form-group">
                <label>Selected date</label>
                <input type="persons" class="form-control" name="totalprice" value="@Html.DisplayFor(model => model.Date)" disabled=" ">
            </div>
            <div class="form-group">
                <label for="TextBox1">Select Date:</label><br />
                <input type="persons" id="TextBox1" name="date" class="form-control" placeholder="click here" />

            </div>
            <div class="form-group">
                <label>Selected total person</label>
                <input type="persons" class="form-control" name="totalprice" value="@Html.DisplayFor(model => model.Total_Persons)" disabled=" ">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Total Persons:</label>
                <input class="form-control" id="exampleInputPassword1" name="totalperson" placeholder="Total number of members" type="persons" required="required" onkeypress="return isNumberKey(event)">
            </div>

            <div class="form-group">
                <label>Selected Decoration type</label>
                <input type="persons" class="form-control" name="totalprice" value="@Html.DisplayFor(model => model.Decoration.Decoration_Type)" disabled=" ">
            </div>
            <div id="decoration" class="form-group">
                <label>Select Decoration type</label>
                <select class="form-control" name="decorationid">
                    @foreach (var item in ViewBag.Decoration_Id)
                    {
                        <option value="@item.Decoration_Id">@item.Decoration_Type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Selected Sound item</label>
                <input type="persons" class="form-control" name="totalprice" value="@Html.DisplayFor(model => model.SoundSystem.Sound_Type)" disabled=" ">
            </div>
            <div class="form-group">
                <label>Select Sound item</label>
                <select class="form-control" name="soundid">
                    @foreach (var item in ViewBag.Sound_Id)
                    {
                        <option value="@item.Sound_Id">@item.Sound_Type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Selected Food item</label>
                <input type="persons" class="form-control" name="totalprice" value="@Html.DisplayFor(model => model.Food.Food_Item)" disabled=" ">
            </div>
            <div id="food" class="form-group">
                <label>Select Food item</label>
                <select class="form-control" name="foodid">
                    @foreach (var item in ViewBag.Food_Id)
                    {
                        <option value="@item.Food_Id">@item.Food_Item</option>
                    }
                </select>

            </div>


            <div class="form-group">
                <label>Total Price</label>
                <input type="persons" class="form-control" name="totalprice" placeholder="Total Price" disabled="">
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary" style="background-color: blue;" id="submit">Submit</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var picker = new Pikaday(
        {
            field: document.getElementById('TextBox1'),
            firstDay: 1,
            minDate: new Date('2000-01-01'),
            maxDate: new Date('2020-12-31'),
            yearRange: [2000, 2020],
            numberOfMonths: 1,
            theme: 'light-theme'
        });

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

    </script>


    <script type="text/javascript">
        function myfunction() {
            $('#sample').ptTimeSelect();
        }
        $(document).ready(function () {
            // find the input fields and apply the time select to them.
            $('#sample1 input').ptTimeSelect();


        });
    </script>
    <script type="text/javascript">

        function checkUpload(size) {
            if (size > 3) {
                var n = size.toFixed(2);
                alert('Your file size is: ' + n + "MB, and it is too large to upload! Please try to upload smaller file (3MB or less). Then the submit button will show up.");
                document.getElementById("btn").style.display = 'none';

            }
            else {
                //alert('File size is OK');
                $('#btn').show();
            }
        }
        $("#file").bind('change', function () {
            var fileSize = this.files[0].size / 1024 / 1024;
            checkUpload(fileSize);
        });
    </script>


</body>
</html>
