@model frontEndFyp.Models.Restaurant

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Restaurant</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Restaurant_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Restaurant_Id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Restaurant_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Restaurant_Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Restaurant_Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Restaurant_Address)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Time_In)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time_In)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Time_Out)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time_Out)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
